.text-heading-1 {
    margin-bottom: 2rem;
}

.text-heading-2 {
    margin-bottom: 1.75rem;
}

.text-heading-3 {
    margin-bottom: 1rem;
}

.text-lg {
    margin-bottom: 2rem;
}

.text-base {
    margin-bottom: 1.75rem;
}

.text-sm {
    margin-bottom: 1.25rem;
}
