.hero {
    @apply flex flex-col h-1000 md:h-800 bg-no-repeat md:bg-hero md:bg-hero-illustration-desktop bg-hero-illustration-mobile bg-primary-50;
    background-position: center bottom;
}

@screen md {
  .hero {
    background-position: 40vw center;
  }
}

@screen xl {
  .hero {
    background-position: 80% center;
  }
}
