/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans text-text;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  line-height: 20px;
  background: linear-gradient(
    180deg,
    #000000 0%,
    #001100 57.2%,
    #002700 92.93%
  );
}

::selection {
  background: #647bb3;
  color: white;
}

h1 {
  font-size: 3rem;
  line-height: 3.75rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

h2 {
  font-size: 2.5rem;
  line-height: 3.5rem;
  font-weight: bold;
  margin-bottom: 1.75rem;
}

h3 {
  font-size: 1.5rem;
  line-height: 1.75rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

h4,
p {
  font-size: 1rem;
  line-height: 1.75rem;
  margin-bottom: 1.75rem;
}

@screen md {
  h1 {
    font-size: 4rem;
    line-height: 4.75rem;
  }

  h2 {
    font-size: 3rem;
    line-height: 4rem;
  }

  h3 {
    font-size: 1.75rem;
    line-height: 2rem;
  }

  h4,
  p {
    font-size: 1.2rem;
    line-height: 2rem;
  }
}

.textbox-gradient {
  background: linear-gradient(
    251.95deg,
    #0c4e0f -23.74%,
    rgba(0, 110, 4, 0) 104.59%
  );
}
